.inactiveDay{
  background-color: rgb(187, 187, 187);
  width: 100px;
  height: 100px;
  position: relative; /* If you want text inside of it */
}

.activeDay{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: rgb(244, 244, 244);
  width: 100px;
  height: 100px;
  position: relative; /* If you want text inside of it */
}

.dateNumber{
  position: absolute; 
  top: -10px; 
  right: 10px; 
  text-align: right;
}

.event {
  background-color: aqua;
  border-radius: 5px;
  margin: 2px 3px;
}